/* INDEX HTML*/
/* FONTS */
* {
  font-family: "Playfair Display", serif;
}

h1,
h2 {
  font-family: "Titillium Web", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.2rem;
}

h3,
h4 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: normal;
}

/* MAIN */

/* TEXT FOR FIRST PAGE */

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#logo {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin-top: 10rem;
}

#projects-first-page {
  font-size: 5rem;
}

@media screen and (max-width: 520px) {
  #logo {
    display: flex;
    margin-top: 2rem;
  }
  #projects-first-page {
    font-size: 3rem;
  }
}

/* ALL IMAGES, WORK PAGE */
.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
  grid-gap: 10px 10px;
}

figure {
  margin-left: 3rem;
}
.project-img {
  width: 100%;
}

#hover-text {
  position: absolute;
}
@media screen and (min-width: 520px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}
#logo-header {
  width: 7%;
}

.unorded-list {
  display: flex;
  list-style: none;
  padding-left: 10rem;
}

.categories {
  margin-left: 6rem;
}

a {
  color: black;
}

@media screen and (max-width: 520px) {
  header,
  .unorded-list {
    flex-direction: column;
    align-items: start;
  }
  .unorded-list {
    padding-left: 0;
  }
  .categories {
    margin-left: 0;
  }
}

/* CONTACT PAGE */
/* Contact me form, messagebox bigger */
#messagebox {
  height: 200px;
  width: 300px;
}

/* ABOUT PAGE */

/* Class from About.html,white space and font style for Education and Experience */

.text-about-me {
  margin-top: 11rem;
}
.about-page p {
  font-style: italic;
  margin-bottom: 4rem;
}
.about-page h4 {
  margin-bottom: -15px;
}

.container-slogan {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 10rem;
}
.slogan {
  position: relative;
  line-height: 120%;
  font-size: 5rem;
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: normal;
}

/* Logo circle  */
.animation {
  position: relative;
  align-items: center;
  width: 15%;
  animation-name: shake;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shake {
  20% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  40% {
    transform: rotate(-20deg) scale(1.2);
    opacity: 0.5;
  }
  50% {
    transform: rotate(20deg) scale(1.2);
    opacity: 0.6;
  }
  60% {
    transform: scale(1.2);
    opacity: 0.7;
  }

  80% {
    transform: rotate(-20deg) scale(1.2);
    opacity: 0.9;
  }
  90% {
    transform: rotate(20deg) scale(1.2);
    opacity: 1;
  }
}

.color-box {
  position: absolute;
  width: 95rem;
  height: 20rem;
  background-color: bisque;
}

/* COFFEE TABLE BOOK */

#headline-coffeebook {
  text-align: center;
  font-size: 7rem;
  margin-top: 5rem;
}
.category-coffeebook {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  gap: 1rem;
}
.img-coffebook {
  width: 100%;
}

#text-coffeebook {
  font-size: 1rem;
  text-align: justify;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.textbox-coffebook {
  display: flex;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 780px) {
  .category-coffeebook {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 780px) {
  #headline-coffeebook {
    font-size: 4rem;
  }
}
