/* INDEX HTML*/
/* FONTS */
* {
  font-family: "Playfair Display", serif;
}

h1,
h2 {
  font-family: "Titillium Web", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.2rem;
}

h3,
h4 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  font-style: normal;
}

/* MAIN */

/* TEXT FOR FIRST PAGE */
#name-first-page {
  text-align: center;
  font-size: 7rem;
  margin-top: 0;
}

#projects-first-page {
  text-align: center;
  font-size: 5rem;
}

/* CATEGORY SECTION FIRST PAGE */

.boxes {
  display: grid;
  grid-template-columns: 1fr;
}
#green-box {
  background: rgb(250, 147, 54);
  padding: 17rem;
}

/* ALL IMAGES */
.category-container {
  display: grid;
  grid-template-columns: repeat(2, 1f);
  align-items: end;
  grid-gap: 10px 10px;
}

figure {
  margin-left: 3rem;
}
.project-img {
  width: 100%;
}
@media screen and (min-width: 520px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* HEADER */

header {
  display: flex;
  align-items: center;
}
#my-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.unorded-list {
  display: flex;
  list-style: none;
  padding-left: 10rem;
}

.categories {
  margin-left: 6rem;
}

a {
  color: black;
}

@media screen and (max-width: 520px) {
  header,
  .unorded-list {
    flex-direction: column;
    align-items: start;
  }
  .unorded-list {
    padding-left: 0;
  }
  .categories {
    margin-left: 0;
  }
}

/* CONTACT PAGE */
/* Contact me form, messagebox bigger */
#messagebox {
  height: 200px;
  width: 300px;
}
/* ABOUT PAGE */
/* Class from About.html,white space and font style for Education and Experience */
.about-page p {
  font-style: italic;
  margin-bottom: 100px;
}
.about-page h4 {
  margin-bottom: -15px;
}
.about-page h1 {
  font-size: 4rem;
}

/* COFFEE TABLE BOOK */

#headline-coffeebook {
  text-align: center;
  font-size: 7rem;
  margin-top: 5rem;
}
.category-coffeebook {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  gap: 1rem;
}
.img-coffebook {
  width: 100%;
}

#text-coffeebook {
  margin-left: 30rem;
  margin-right: 30rem;
}

.textbox-coffebook {
  display: flex;
  grid-template-columns: 1fr;
}
